body {
  background: #111 !important;
}
.group:after {
  content:"";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
  margin-top: 35%;
}
.inputbox {
  height: 55px;
  background: #eaeaea;
  margin-top: 8px;
  padding-left: 10px;
  border-radius: 0;
  border: none !important;
  padding-left: 4px;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.0);
  box-shadow: inset 0 0 0 rgba(0,0,0,.0);
  font-family:'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color:#000;
}